@font-face {
    font-family: "Calculator Sans";
    src: url('fonts/Calculator.ttf');

  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

